{
  "INFURA_KEY":"YOUR_KEY",
  "RPC_URIS": {
    "ropsten": "https://eth-ropsten.alchemyapi.io/v2/YOUR_KEY",
    "goerli": "https://eth-goerli.alchemyapi.io/v2/YOUR_KEY",
    "polygon": "etc",
    "mainnet": "etc",
    "localhost": "http://localhost:8545"
  }
}