html {
    background-color: #1a1a1a;
    color: white;
}

.App {
    text-align: center;
    font-size: calc(10px + 1.2vmin);
}

.subtitle {
    font-size: calc(10px + 0.2em);
}

.App-header {
  min-height: 15vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 8vmin);
}

.App-link {
  color: #61dafb;
}
