html {
    background-color: black;
}

.App {
    font-family: "EB Garamond";
    color: white;
}

#top {
  min-height: 85vh;
}

.title {
    color: white;
    font-weight: 100;
}

.button.is-ghost {
    color: white;
}

.button.is-ghost:hover {
  color: white;
}

.is-ibm {
  font-family: "IBM Plex Mono", monospace;
}

.is-vertical {
  display: flex;
  flex-direction: column;
}

/* Borders */

.outer-border {
  border: 2px solid;
  padding: 2px;
}

.inner-border {
  border: 2px solid;
}

.has-border-green {
  border-color: green;
}

/* Text */

.has-text-green {
  color: green;
}

/* Guild Cards */

.guild-card {
  width: 200px;
}

.does-wrap {
  flex-wrap: wrap;
}
